<{include file="db:`$mydirname`_inc_header.html"}>
<div class="head" style="width: 100%; text-align: center;"><h1><{$smarty.const._MD_ATTACHFILE_DOWNLOAD_POPUP}></h1></div>
<div style="padding: 5px;">
<{if $attached_files_count == 0}>
	<{$smarty.const._MD_ATTACHFILE_MSG_FILENOTFOUND}>
<{else}>
<table class="outer">
	<tr class="head">
		<th><{$smarty.const._MD_ATTACHFILE_LABEL_FILE_NAME}></th>
		<th><{$smarty.const._MD_ATTACHFILE_LABEL_FILE_SIZE}></th>
	</tr>
	<{foreach from=$attached_files item=attach}>
	<tr class="<{cycle values="even,odd"}>">
		<td><a href="<{$mod_url}>/index.php?mode=download&amp;attach_id=<{$attach.attach_id}>"><{$attach.link_name}></a></td>
		<td><{$attach.file_size}></td>
	</tr>
	<{/foreach}>
</table>
<{/if}>
</div>
<{include file="db:`$mydirname`_inc_footer.html"}>
